# {{ ansible_managed }}

port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev tun

ca {{ openvpn_cert_path }}/ca.crt
cert {{ openvpn_server_path }}/server.crt
key {{ openvpn_server_path }}/server.key
dh {{ openvpn_server_path }}/dh.pem
tls-auth {{ openvpn_server_path }}/ta.key 0
tls-server
auth {{ openvpn_auth | default('SHA256') }}
cipher {{ openvpn_cipher }}
tls-version-min 1.2
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-ECDSA-WITH-AES-256-CBC-SHA384:TLS-ECDHE-RSA-WITH-AES-256-CBC-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256

server {{ openvpn_network }} {{ openvpn_netmask }}
ifconfig-pool-persist ipp.txt

push "route {{ openvpn_push_route }}"

keepalive {{ openvpn_keepalive_ping }} {{ openvpn_keepalive_timeout }}
persist-key
persist-tun
user nobody
group nogroup

status status-openvpn.log
status-version 2
log-append /var/log/openvpn/openvpn.log
verb 3

script-security 2

{% if openvpn_proto == 'udp' %}
explicit-exit-notify 1
{% else %}
explicit-exit-notify 0
{% endif %}